$font-base-family: "Gotham Narrow A", Arial, Helvetica, sans-serif;
$font-base-size: 16px;
$base-line-height: 1.4333;

$color-deep-koamaru: #231464;
$color-cobalt-blue: #004fb8;
$color-deep-blue: #1c104f;
$color-dark-blue: #140c3a;
$color-trinidad: #d82a07;
$color-trinidad-dark: #831301;

$color-white: #fff;
$color-light-grey: #f1f1f1;
$color-grey: #dcdcdc;
$color-dark-grey: #878c8c;
$color-deep-grey: #4a4a4a;
$color-black: #000;

$color-primary: $color-deep-koamaru;
$color-action: $color-trinidad;
$color-action-hover: $color-trinidad-dark;

$color-form-field-border: #d1d1d1;
$color-form-field-error: #d32509;

/* ICON FONT */

$icon-finger-scan: "\e900";
$icon-map-pin-solid: "\e948";
$icon-phone: "\e949";
$icon-email: "\e94a";
$icon-grid: "\e94b";
$icon-stock-savings: "\e901";
$icon-anonymous-advicer: "\e902";
$icon-autoreg: "\e903";
$icon-avtalegiro: "\e904";
$icon-bedriftfinansiering: "\e905";
$icon-bedriftsnett: "\e906";
$icon-betal-fra-konto: "\e907";
$icon-betal-til-konto: "\e909";
$icon-wallet: "\e908";
$icon-betaling: "\e90a";
$icon-trad-is-betaling: "\e934";
$icon-visa-cards: "\e936";
$icon-credit-cards: "\e90b";
$icon-credit-card: "\e90c";
$icon-master-card: "\e90d";
$icon-visa-card: "\e90e";
$icon-betalingsterminal: "\e90f";
$icon-betalt-regning: "\e910";
$icon-locked: "\e924";
$icon-open-lock: "\e937";
$icon-car-loan: "\e911";
$icon-bokliste: "\e912";
$icon-house-loan: "\e913";
$icon-boat-loan: "\e914";
$icon-chat: "\e915";
$icon-e-invoice: "\e916";
$icon-e-giro-payment: "\e917";
$icon-Epost: "\e918";
$icon-latest-transactions: "\e919";
$icon-filter: "\e91a";
$icon-transfere: "\e929";
$icon-finance-advicer: "\e91b";
$icon-advicer: "\e930";
$icon-due: "\e91c";
$icon-due-folder: "\e91d";
$icon-insurance: "\e91e";
$icon-get-pin: "\e91f";
$icon-home: "\e920";
$icon-info-ring: "\e921";
$icon-settings: "\e922";
$icon-investor-relations: "\e923";
$icon-contacts: "\e925";
$icon-leasing: "\e926";
$icon-person: "\e92e";
$icon-add-person: "\e927";
$icon-family: "\e928";
$icon-friend-payment: "\e935";
$icon-location: "\e92a";
$icon-loan: "\e92b";
$icon-Mobiltelefon: "\e92c";
$icon-nettbank: "\e92d";
$icon-obs: "\e92f";
$icon-ocr: "\e931";
$icon-papers: "\e932";
$icon-pc: "\e933";
$icon-pen: "\e938";
$icon-pension-savings: "\e939";
$icon-print: "\e93a";
$icon-saving: "\e93b";
$icon-question-ring: "\e93c";
$icon-search: "\e93d";
$icon-facebook: "\e93e";
$icon-facebook-solid: "\e93f";
$icon-google-plus: "\e940";
$icon-instagram: "\e941";
$icon-snapchat: "\e942";
$icon-twitter: "\e943";
$icon-youtube: "\e944";
$icon-exit: "\e945";
$icon-fellestomt-bra: "\e946";
$icon-hammer: "\e947";
$icon-office: "\e94c";
$icon-bedroom: "\e94d";
$icon-lot: "\e94e";
$icon-arrow-left-circle: "\e94f";
$icon-arrow-right-circle: "\e950";
$icon-arrow-down-circle: "\e951";
$icon-arrow-up-circle: "\e952";
$icon-chevron-left: "\e257";
$icon-chevron-right: "\e258";
$icon-chevron-down: "\e259";
$icon-chevron-up: "\e260";
$icon-check: "\e953";
