// TODO: Frank - the world is your oyster. Have fun.
@import "_variables.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_navigation.scss";
@import "_manual.scss";

html,
:default {
  font-size: $font-base-size;
  line-height: $base-line-height;
  font-weight: 300;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  height: 100vh;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}
